@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,600&display=swap');

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {background-color: #ffffff; color: #000000; font-family: 'Poppins', sans-serif; line-height: 1.5; display: grid; grid-template-columns: max-content minmax(0, 1fr); grid-gap: 0rem; }
h1, h2, h3 { margin: 1rem 0; font-size: 2rem; font-weight: 600; padding-top: 2rem; }
h1 { padding-top: 0; }
h2 { padding-top: 3rem; border-top: 2px solid #dddddd; }
h3 { font-size: 1.5rem; }
em { font-style: italic; }
small { font-size: 80%; }
p { margin: 2rem 0 0.5rem 0; }
p + p { margin-top: 1rem; }
main ol, main ul { margin: 1rem 0; }
main ol { list-style-type: decimal; }
main li { margin-left: 4rem; }
ul { list-style-type: disc; }
dt { font-weight: 600; margin-left: 1rem; margin-top: 0.5rem; }
dd { margin-left: 2rem; }

ul#toc { list-style-type: none; }
ul#toc li { margin-bottom: 3px; }
ul#toc span { display: inline-block; width: 3ch; margin-right: 1rem; background-color: #dddddd; padding: 1px 5px; border-radius: 3px; color: #000000; }
ul#toc a { display: block; color: #000000; text-decoration: none; text-transform: uppercase; padding: 0 1rem; }
ul#toc li.chapter { margin-top: 1rem; }
ul#toc li.chapter a { font-weight: 600; }
ul#toc li.chapter span { background-color: #000000; color: #ffffff; font-weight: normal; }
ul#toc a:hover { color: #ffffff; background-color: #07a; }
ul#toc a:hover span { background-color: transparent; color: #ffffff; }
ul#toc li.current { background-color: #dddddd; }

div#tocbox { display: none; }
main { grid-column: 2; grid-row: 1; padding: 2rem; }
aside { grid-column: 1; grid-row: 1; font-size: 0.9rem; border-right: 2px solid #dddddd; }
aside:hover { border-right-color: #07a; }
aside div { position: -webkit-sticky; position: sticky; top: 0; padding: 0; }
aside div > a { display: block; font-size: 1rem; color: #000000; text-decoration: none; margin: 0 1rem 1rem 1rem; }
aside div > a:hover { color: #07a; }
aside p { margin: 1rem; display: inline-block; cursor: pointer; }

body.tocClosed aside a, body.tocClosed aside ul { display: none; }

@media print, screen and (max-width: 900px) {
    body, div#tocbox { display: block; }
    aside { display: none; }
}
