body {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-image: url('./assets/wave.svg');
    background-size: cover;
    overflow-y: auto;
    margin: 0;
  }


button {
    background: #1254fe;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    border: 0;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
  }
  button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
  
  .container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    color: black;
    flex-grow: 0;
    max-width: 400px;
  }
  
  .logo {
    height: 35px;
    max-width: 100%;
    margin-top: 20px;
  }
  
  .controls {
    border-radius: 15px;
    padding: 24px;
    background: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 0px; */
    min-width: 320px;
  }
  
  #startApplication {
    margin-top: 20px;
  }